*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

input,
button {
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Archivo";
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 70px;

  @media screen and (max-width: 1280px) {
    padding: 0 50px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 32px;
  }
}
