@import "../../variables";

.input {
  padding: 11px;
  border: 1px solid #61636b;
  border-radius: 4px;
  font-size: 16px;
}

.submit-btn {
  background: $blue;
  border-radius: 4px;
  padding: 9px;
  font-size: 16px;
  color: $bgSub;
}

.click-btn {
  letter-spacing: 0.7px;
  border-radius: 4px;
  padding: 11px;
  color: $bgSub;
}

.imgUpload {
  @include flex;
  gap: 7px;
  cursor: pointer;

  input {
    display: none;
  }

  img {
    border: 1px solid $textSub;
    border-radius: 50%;
  }
}
