@import "../../variables";

.profile {
  padding: 50px 0;
  background: $bgAdmin;

  h3 {
    font-size: 22px;
    letter-spacing: 0.5px;
  }

  &__info {
    margin-top: 33px;
    @include flexCol;
    gap: 22px;
    width: fit-content;

    img {
      width: 303px;
      height: 303px;
      border-radius: 50%;
    }

    &-uploaded {
      position: relative;

      button {
        position: absolute;
        top: 0px;
        right: 0px;
        background: $red;
        color: $bgSub;
        padding: 7px;
        border-radius: 7px;
      }
    }

    &-btnSave {
      background: transparent;
      font-size: 16px;
      color: $blue;
    }
  }
}
